includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/fixtures/**
    strictRules:
        disallowedLooseComparison: false
        disallowedConstructs: false
        strictCalls: false